#memex-project-view-root div.krgVMG + div.jaqUIB div.kCiBCp {
  border-left: 1px dotted rgb(208, 215, 222);
  border-right: 1px solid rgb(208, 215, 222);
  width: 96px;
  transform: translateX(-96px);
  background-color: #eaeef2;
}
